.header {
  position: 'sticky';
  display: flex;
  flex-direction: row;
}

.headerText1 {
  font-size: 28px;
  font-weight: bold;
}
.headerText2 {
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 3px;
}

.headerLogo {
  color: white;
  flex-grow: 0.5;
  margin-right: 50px;
}

.headerInput {
  width: 40%;
  flex-grow: 0;
  padding-right: 10px;
  /* margin-right: 170px; */
  margin-top: 13px;
}

.headerSignIn {
  color: white;
  font-weight: bold;
  margin-left: 200px;
}

.headerCart {
  color: white;
  font-weight: bold;
  margin-left: 100px;
}

#amount {
  margin-left: 10px;
}

a.headerLogo {
  color: white;
}
a.headerSignIn {
  color: white;
}
a.headerCart {
  color: white;
}
